.listContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.autocomplete {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 111;
    max-height: 240px;
    height: auto;
    overflow: auto;
}

.autocomplete__item {
    padding: 10px;

}
.autocomplete__item:hover{
    background: rgb(180, 180, 180);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .3s all;
}